@using Cinema_Project.ViewModels
@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<head>
   <link rel="stylesheet" href="~/css/auth-style.css">
</head>

<div class="container">
    <div class="row">
        <div class="auth-reg-container col-lg-6">
            <form class="auth-container active" asp-action="Login" method="post">
                <div class="auth-caption">LOG <span style="color:#DF0A0A">IN</span></div>
                <input asp-for="Username" type="input" placeholder="Login" required>
                <input asp-for="Password" type="password" placeholder="Password" required>
                <div class="remember-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" value="GO!" id="remember" /> @Html.DisplayNameFor(a => a.RememberMe)
                    <label for="remember"><span></span>Remember me</label>
                </div>
                <input type="submit" value="Login" class="btn btn-primary btn-sm float-end" />
                <div class="auth-bottom">Don't have an account?  <a asp-controller="Account" asp-action="Register" class="text-decoration-none float-start mt-2" style="color: #DF0A0A">Sign up!</a></div>
            </form>
        </div>
        <div class="col-lg-6 guest-container auth-caption ">Stay as <a href="#"><span class="red-text-big">Guest</span></a></div>
    </div>
    @* <a asp-action="Login" class="text-decoration-none float-start mt-2"> *@
</div>

@section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}