header {
  height: 80px;
  background-color: black;
  z-index: 2;
  position: relative;
}

.navbar-logo {
  height: 53px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar{
  height: 80px !important;
  align-items: center;
}

.navbar-element {
  position: relative;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 25px;
  margin-left: 45px;
  cursor: pointer;
}
.navbar-element > a{
  text-decoration: none;
  color: white !important;
}

ul > li > a:hover {
    text-decoration: none;
    color: white !important;
}

.navbar-element::before{
  position: absolute;
  content: '';
  width: 100%; /* Змінено ширину на 100% */
  height: 3px;
  background-color: red;
  bottom: -2px;
  transform: scaleX(0); /* Змінено ширину на 0 за допомогою scaleX */
  transform-origin: center; /* Центруємо початкову точку трансформації */
  transition: transform 0.3s; /* Змінено властивість для анімації */
}
.navbar-element:hover::before{
  width: 100%;
  transform: scaleX(1); /* Збільшуємо ширину до 1 за допомогою scaleX */
  transition: 0.5s;
}
.search-box {
  position: relative;
  margin-left: 45px;
}

.search-input {
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 50%;
  border: 4px solid #fff;
  box-sizing: border-box;
  outline: none;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition-delay: 0.4s;
  color: rgba(255, 255, 255, 0);
  /* RGBA колір з альфа-каналом (прозорістю) 0 */
  font-size: 20px;
  transition: 0.8s;
}

.search-inclicked {
  width: 360px;
  border-radius: 0;
  padding: 0 5px;
  padding-right: 40px;
  color: rgba(255, 255, 255, 1);
  /* RGBA колір з альфа-каналом (прозорістю) 0 */
  transition: 0.8s;
}

.search-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 5px;
  right: -4px;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-btn::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #fff;
  position: absolute;
  transform: rotate(-45deg);
  bottom: -15px;
  right: 3px;
  transition: 0.3s;
}

.search-btn:focus {
  outline: none;
  /* Відключає обрамлення при фокусуванні */
}

.search-close::before,
.search-close::after {
  content: "";
  width: 4px;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.search-close::before {
  transform: rotate(-45deg);
}

.search-close::after {
  transform: rotate(45deg);
}

.user-icon{
  margin-left:50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon > img{
  position: relative;
}
.user-icon::before{
  position: absolute;
  content:'';
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 25px;
}
.user-name{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.user-info{
  position: relative;
  display: flex;
  z-index: 2;
}
.user-info-container{
  position: relative;
  z-index: 2;
}
.user-info-container:hover > .user-buttons{
  z-index: 1;
  transition: transform 0.5s ease 0s;
  transform: translateY(0px);
}
.user-buttons>*{
  transition: opacity 0.25s ease 0s;
  opacity: 0;
}
.user-info-container:hover > .user-buttons>*{
  transition: opacity 0.25s ease 0.25s;
  opacity: 1;
}
.user-buttons{
  position: absolute;
  top: 50px;
  height: 140px;
  width: 210px;
  left: 30px;
  background-color: black;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  color: #fff;
  padding: 17px 35px;
  text-wrap: nowrap;
  z-index: -1;
  transform: translateY(-140px);
  transition: 0.5s;
}
.user-profile{
  position: relative;
  padding:  0px 0px 15px 25px;
}
.user-profile:before{
  position: absolute;
  content: '';
  background-image: url("../img/user-frame.png");
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  left:-5px;
}
.log-out{
  position: relative;
padding:  15px 0px 0px 25px;
}
.log-out:before{
  position: absolute;
  content: '';
  background-image: url("../img/logout-frame.png");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  left:-5px;
}
.user-line{
  height: 2px;
  background-color: #FFFFFF;
  width: 135px;
}

.user-profile-link > a{
  text-decoration: none;
  color: white !important;
}

.user-logout-link > a{
  text-decoration: none;
  color: #EB1E1E !important;
}